@tailwind base;
@tailwind components;
@tailwind utilities;

/* Desktop */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background-color: hsl(36, 100%, 99%);
}

/* Phone */
@media screen and (max-width: 820px) {
  .wrapper {
    overflow-x: hidden;
  }
}
